@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ap*/
.App {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 14px;
}

.App-container {
    width: 90%;
}

.header-container {
    width: 100%;
    margin-bottom: 5px;
}

.header-col3 {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 5px;
    /* background-image: linear-gradient(-45deg, rgb(117, 117, 243) 75%, white 30%); */
    /* position: fixed;
      left: 0;
      top: 0; */
    z-index: 1;
}

.header-logo {
    width: 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    width: 100%;
    margin: 10px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img:hover {
    cursor: pointer;
}

.header-title {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 50%;
    margin: 30px;
    padding-left: 70px;
}

.header-title p {
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: crimson;
}




.header-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
}

.header-items li:hover {
    cursor: pointer;
    text-decoration: underline;
    color: coral;
}

.header-menu {
    width: 25%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.header-supportPhoneNumber {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 80%;
    height: 50%;
}


/*---------------------Body-----------------------*/
.body {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.Comercial-Slide_container {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.Comercial-introduce {
    width: 100%;
    padding: 50px 100px;
    background-color: #dddd;
}

.Comercial-slogan {
    width: 60%;
    padding: 0px 30px;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.Comercial-introduce-Items {
    width: 100%;
    display: flex;
    gap: 15px;
    height: 40px;
}

.Comercial-introduce-item {
    width: 30%;
    padding-left: 10px;
    width: auto;
    border: 1px solid rgb(8, 150, 74);
    border-radius: 5px;
    padding: 5px;
    display: flex;
   align-items: center;
   justify-content: center;
}

.Comercial-introduce-item:hover {
    background-color: rgb(8, 150, 74);

}

.Comercial-introduce-item span {
    font-weight: bold;
}

.Comercial-introduce-item:hover {
    cursor: pointer;
    background-color: rgb(8, 150, 74);
}

/*SlideIntroduce*/
.SlideIntroduce {
    width: 100%;
    margin-bottom: 20px;
}

.SlideIntroduce-Img {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.SlideIntroduce-Img img {
    width: 100%;
    transform: translateY(-200px);
}

/*-------------------CompanyFeature-----------*/
.CompanyFeature {
    width: 100%;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.CompanyFeature-title {
    width: 100%;
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.CompanyFeature-content {
    width: 60%;
    padding-left: 20px;
    margin-bottom: 10px;
}

.CompanyFeature-contentImpress {
    width: 60%;
    padding-left: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}

.CompanyFeature button {
    margin-left: 20px;
    width: 10%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgb(8, 150, 74);
}

.CompanyFeature button:hover {
    cursor: pointer;
    background-color: rgb(8, 150, 74);
}

.products-container {
    width: 100%;
    height: auto;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 50px;
    background-color: rgb(167, 167, 238);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 25px;
}

.products-list {
    padding-top: 20px;
    width: 60%;
    box-sizing: border-box;
}

.products-list-Title {
    width: 100%;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 20px;
}

.list-introduce {
    padding-left: 20px;
    width: 100%;
    margin-bottom: 10px;
}

.products {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.products p {
    width: 50%;
    margin-bottom: 10px;
    padding-left: 20px;
}

.products p:hover {
    cursor: pointer;
    text-decoration: underline;
    color: coral
}

.products-Img {
    width: 40%;
    display: flex;
    justify-content: center;
    height: 450px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 10px 10px 0px;
}

.products-Img img {
    width: 100%;
    border-radius: 25px;
}


/*Footer*/
.Footer {
    width: 100%;
    padding-bottom: 10px;
    background-color: rgb(247, 250, 252);
    overflow: hidden;
}

.Footer-logo {
    width: 20%;
    padding: 10px 20px;
}

.Footer-logo img {
    width: 100%;
}

.Footer-contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.Footer-content {
    width: 25%;
    padding: 20px 50px;
    box-sizing: border-box;
}

.Footer-content-Title {
    width: 100%;
}

.Footer-content-Title p {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.Footer-content-maps {
    transform: translate(-50px, 10px);
    scale: 1.2;
}

.Footer-content-policy {
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}

.Footer-content-policy p {
    margin-bottom: 5px;
}

.Footer-Img {
    width: 100%;
    display: flex;
}

.Footer-Img img {
    width: 50%;
    margin-left: 10px;
    height: 50px
}

.Footer-map {
    width: 100%;
}

/*Footer*/
/*CompanyInfor*/
.companyInfor-container {
    width: 100%;
    height: auto;
}

.companyInfor-titles {
    width: 100%;
    height: auto;
    background-color: #3333;
}

.companyInfor-changePages {
    width: 60%;
    height: 30px;
    margin: 20px 30px;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.companyInfor-changePage:hover {
    cursor: pointer;
    color: coral;
    text-decoration: underline;

}

.companyInfor-title {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 50px;
}

.companyInfor-title-items {
    width: 100%;
    height: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
}

.companyInfor-title-items p:hover {
    cursor: pointer;
    color: coral;
    text-decoration: underline;
}

/*CompanyInfor*/
/*TanNhatMinhGeneral*/
.tnmGeneral-container {
    width: 100%;
    height: auto;
    margin: 20px 0px;
}

.tnmGeneral-introduce {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
}

.tnmGeneral-title {
    width: 50%;
}

.tnmGeneral-nameCompany {
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.tnmGeneral-infor {
    width: 100%;
}

.tnmGeneralMarginBtm {
    margin-bottom: 10px;
}

.tnmGeneral-companyImg {
    width: 50%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.tnmGeneral-companyImg img {
    width: 100%;
}

.tnmCertificateds {
    width: 100%;
    box-sizing: border-box;
}

.tnmCertificateds h1 {
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}

.tnmCertificated {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.tnmCertificated img {
    width: 23%;
    margin: 10px 0px;
}


/*TanNhatMinhGeneral*/

@media only screen and (max-width: 1024px) {
    .App {
        font-size: 14px;
    }

    .App-container {
        width: 95%;
    }

    .header-menu-icon {
        scale: 0.8;
    }

    .Footer-content-maps {
        transform: translate(-100px, 10px);
        scale: 0.8;
    }

    .header-title p {
        font-size: 18px;
    }

    .header-items {
        gap: 5px;
        padding-top: 5px;
    }

    .CompanyFeature {
        width: 100%;
        margin-bottom: 5px;
    }

    .Comercial-introduce {
        width: 100%;
        padding: 20px 30px;
    }

    .Comercial-slogan {
        font-size: 18px;
    }

    .SlideIntroduce-Img {
        width: 100%;
        height: 350px;
    }

    .CompanyFeature-title {
        font-size: 18px;
        margin-bottom: 5px;
        width: 100%;
    }
    .CompanyFeature-content{
        width: 100%;
    }
    .CompanyFeature button{
        width: 30%;
    }
    .CompanyFeature-contentImpress{
        margin-bottom: 10px;
    }

    .products-list-Title {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .products-Img {
        padding: 10px 10px 10px 0px;
        height: 250px;
    }

    .products-Img img {
        width: 100%;
        border-radius: 25px;
    }

    .companyInfor-changePages {
        width: 60%;
        height: 30px;
        margin: 10px 50px;
        gap: 18px;
        display: flex;
        justify-content: start;
        align-items: center;
    }


    .Footer-Img img {
        width: 50%;
        margin-left: 5px;
        height: 30px
    }

    .companyInfor-title {
        font-size: 18px;
        margin: 10px 20px;
    }

    .tnmGeneral-nameCompany {
        font-size: 18px;
    }

    .tnmCertificateds h1 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .App-container {
        width: 98%;
    }

    .App {
        font-size: 10px;
    }

    .header-menu-icon {
        scale: 0.6;
    }

    .tnmGeneral-companyImg {
        width: 50%;
        height: 220px;
        overflow: hidden;
        border-radius: 10px;
    }

    .SlideIntroduce-Img {
        width: 100%;
        height: 250px;
        overflow: hidden;
    }

    .Footer-550pxhiden {
        display: none;
    }

    .Footer-content {
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
    }


    .Footer-content-Title p {
        width: 100%;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .Footer-content-maps {
        transform: translate(-20px, 10px);
        scale: 0.75;
    }

    .Footer-content-policy {
        width: 100%;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .Footer-content-policy p {
        margin-bottom: 5px;
    }

    .Footer-Img {
        width: 100%;
        display: flex;
    }


    .Footer-map {
        width: 100%;
    }

    .Footer-Img img {
        width: 15%;
        margin-left: 5px;
        height: 25px
    }
}

@media only screen and (max-width: 550px) {

    .App-container {
        width: 100%;
    }

    .App {
        font-size: 8px;
    }

    .App-container {
        width: 99%;
    }

    .header-container {
        width: 100%;
        margin-bottom: 5px;
    }

    .header-col3 {
        height: 70px;
        margin-bottom: 2px;
    }


    .header-logo img {
        margin: 5px;
    }

    .header-menu-icon {
        scale: 0.5;
    }

    .Footer-content-maps {
        transform: translate(-100px, 10px);
        scale: 0.8;
    }

    .header-title p {
        font-size: 10px;
    }

    .CompanyFeature {
        width: 100%;
        margin-bottom: 5px;
    }

    .Comercial-introduce {
        width: 100%;
        padding: 10px 20px;
    }

    .Comercial-slogan {
        font-size: 12px;
    }

    .SlideIntroduce-Img {
        width: 100%;
        height: 150px;
    }

    .CompanyFeature-title {
        font-size: 12px;
        margin-bottom: 3px;
    }

    .products-list-Title {
        font-size: 12px;
        margin-bottom: 3px;
    }

    .products-Img {
        padding: 5px 5px 5px 0px;
        height: 200px;
    }

    .products-Img img {
        width: 100%;
        border-radius: 15px;
    }

    .companyInfor-changePages {
        width: 60%;
        height: 20px;
        margin: 5px 30px;
        gap: 5px;
        display: flex;
        justify-content: start;
        align-items: center;
    }


    .Footer-Img img {
        width: 50%;
        margin-left: 3px;
        height: 25px
    }

    .companyInfor-title {
        font-size: 12px;
        margin: 5px 10px;
    }

    .tnmGeneral-nameCompany {
        font-size: 12px;
    }

    .tnmCertificateds h1 {
        font-size: 12px;
    }

    /*Footer*/
    .Footer {
        width: 100%;
        padding-bottom: 5px;
        background-color: rgb(247, 250, 252);
        overflow: hidden;
    }

    .Footer-logo {
        width: 20%;
        padding: 10px 10px;
    }

    .Footer-logo img {
        width: 100%;
    }

    .Footer-contents {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .Footer-content {
        width: 50%;
        padding: 5px;
        box-sizing: border-box;
    }

    .Footer-content-Title {
        width: 100%;
    }

    .Footer-content-Title p {
        width: 100%;
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .Footer-content-maps {
        transform: translate(-50px, -30px);
        scale: 0.5;
    }

    .Footer-content-policy {
        width: 100%;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .Footer-content-policy p {
        margin-bottom: 5px;
    }

    .Footer-Img {
        width: 100%;
        display: flex;
    }

    .Footer-Img img {
        width: 20%;
        margin-left: 5px;
        height: 35px
    }

    .Footer-map {
        width: 100%;
    }

    .Footer-550pxhiden {
        display: none;
    }

    .SlideIntroduce {
        width: 100%;
        margin-bottom: 5px;
    }

    /*Footer*/
}

@media only screen and (max-width: 410px) {
    .header-logo {
        width: 10%;
    }

    .header-logo img {
        width: 100%;
        scale: 1.5;
        transform: translate(5px, 0px);
    }

    .header-title {
        width: 60%;
        height: 50%;
        margin: 10px;
        padding-left: 20px;
    }

    .header-menu {
        width: 25%;
        padding-right: 5px;
    }

    .header-supportPhoneNumber {
        width: 70%;
        height: 50%;
        display: none;
    }

    .header-supportPhoneNumber span {
        scale: 0.5;
    }

    .header-menu {
        justify-content: center;
    }

    .Comercial-introduce {
        width: 100%;
        height: 150px;
    }

    .Comercial-slogan {
        width: 100%;
        margin: 10px;
    }

    .Comercial-introduce-Items {
        width: 50%;
        display: block;
        height: 40px;
        box-sizing: border-box;
        margin: 0px auto;
    }

    .Comercial-introduce-item {
        text-align: center;
        width: 100%;
        width: auto;
        margin-bottom: 5px;
    }

    .SlideIntroduce {
        width: 100%;
        margin-bottom: 5px;
    }

    .SlideIntroduce-Img {
        width: 100%;
        height: 200px;
        overflow: hidden;
    }

    .SlideIntroduce-Img img {
        width: 100%;
        transform: translateY(0px);
    }
    .CompanyFeature-content {
        width: 100%;
        padding:5px 10px;
    }
    
    .CompanyFeature-contentImpress {
        width: 100%;
        padding:5px 10px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .CompanyFeature-title button{
        width: 100%;
    }

    .companyInfor-title-items {
        width: 100%;
        height: 50px;
        margin-left: 5px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 25px;
    }
}

/* //1028
//1200
//991
//767
//550
//375
//280 */